body {
  background-color: rgba(20, 14, 23, 1);
  color: white;
  padding: 64px 20px 220px;
}

.container {
  max-width: 1017px;
  width: 100%;
  margin: 0 auto;
}

.navigation .item {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.navigation .item a {
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  color: white;
}

.navigation .item a:hover {
  color: rgba(245, 250, 147, 1)
}

.login {
  max-width: 56px;
  width: 100%;
  display: flex;
  padding: 8px 0;
  justify-content: center;
  border-radius: 16px;
  background-color: rgba(235, 235, 235, 1);
  cursor: pointer;
  align-items: last baseline;
}

.button {
  text-decoration: none;
  border-radius: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  cursor: pointer;
}