.footer {
    margin-top: 80px;
    gap: 24px;
}

.footer .container {
    max-width: 1000px;
}

.footer .footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-info .column {
    color: white;
    max-width: 232px;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 24px;
}

.footer .footer-info .column .custom-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer .footer-info .column.column-1 {
    display: flex;
    flex-direction: column;
}

.footer .footer-info .column.column-1 .logo {
    display: flex;
    cursor: pointer;
}

.footer .footer-info .column.column-1 .logo .title {
    font-family: Manrope;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24px;
    line-height: 100%;
}

.footer .footer-info .column.column-1 .socials {
    display: flex;
    gap: 20px;
}

.footer .footer-info .column .item {
    height: 27px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    list-style-type: none;
}

.footer .footer-info .column .item a {
    color: white;
    text-decoration: none;
}

.footer .send {
    background-color: #F5FA93;
    padding: 15px 16px 12px 16px;
    max-width: 56px;
    width: 100%;
    border-radius: 99px;
    margin-top: 100px;
    cursor: pointer;
    float: right;
}