.header {
    max-width: 1018px;
    width: 100%;
}

.header .header-line {
    padding: 17px 24px;
    background-color: rgba(51, 51, 51, 1);
    border: 1px solid black;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-line .navigation {
    width: 100%;
    display: flex;
    gap: 41px;
    align-items: center;
    justify-content: space-between;
}

.header .header-line .navigation .burger {
    display: none;
}

.header .header-line .navigation .quicklick {
    display: flex;
    gap: 4px;
    background-color: rgba(245, 250, 147, 1);
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.header .header-line .navigation .quicklick .title {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.header .header-line .navigation .list-navigation {
    display: flex;
    gap: 24px;
    align-items: center;
}

.header .header-line .navigation .list-navigation .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}



@media (max-width: 768px) {
    .header .header-line .navigation .list-navigation {
        display: none;
    }

    .header .header-line .navigation .login {
        display: none;
    }

    .header .header-line .navigation .burger {
        position: absolute;
        display: block;
        right: 60px;
        background-color: rgba(118, 117, 123, 1);
        padding: 0 16px 0 16px;
        border-radius: 16px;

    }

    .header .header-line .navigation .burger .burger-icon {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 56px;
        height: 40px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #76757b;
        padding: 0 16px;
        border-radius: 16px;
    }

    .header .header-line .navigation .burger .burger-icon span {
        display: block;
        height: 2px;
        background: white;
        width: 20px;
    }

    .header .header-line .navigation .burger .burger-dropdown {
        display: none;
        position: absolute;
        top: 50px;
        left: -35px;
        transform: translateX(-75%);
        width: 100%;
        min-width: 550px;
        background-color: #333;
        border-radius: 8px;
        list-style: none;
        padding: 10px 0;
        z-index: 10;
        box-sizing: border-box;
    }

    .header .header-line .navigation .burger .burger-dropdown li:not(:last-child) a {
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(118, 117, 123, 1);
        padding: 0 0 5px 0;
    }

    #burger-toggle {
        display: none;
    }


    .header .header-line .navigation .burger input:checked~.burger-dropdown {
        display: block;
    }

    .header .header-line .navigation .burger .burger-dropdown .list .login {
        max-width: 56px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 16px;
        background-color: rgba(235, 235, 235, 1);
        cursor: pointer;
        align-items: last baseline;
    }

    .header .header-line .navigation .burger .burger-dropdown .list {
        padding: 24px 8px 24px 24px;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        font-family: Manrope;
        font-weight: 500;
        font-style: Medium;
        font-size: 24px;
        line-height: 28px;

    }

    .header .header-line .navigation .burger .burger-dropdown .list a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
    }

    .header .header-line .navigation .burger .burger-dropdown .list a:hover {
        color: rgba(245, 250, 147, 1);
    }
    
}

@media (max-width: 600px) {
    .header .header-line .navigation .burger .burger-dropdown {
        min-width: 400px;
    }
}

@media (max-width: 500px) {
    .header .header-line .navigation .burger .burger-dropdown {
        min-width: 300px;
    }
}

@media (max-width: 375px) {
    .header .header-line .navigation .burger .burger-dropdown {
        min-width: 250px;
        transform: translateX(-45%);
    }
}