.main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.main .presentation {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

.main .presentation .product {
    display: flex;
    gap: 17px;
    position: relative;
}

.main .presentation .product .info {
    max-width: 539px;
    width: 100%;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 53px;
    align-self: flex-start;
    color: white;
    z-index: 1;
}

.main .presentation .product .info .title {
    font-weight: 800;
    font-size: 68px;
    line-height: 100%;
    position: relative;
    white-space: nowrap;
}

.main .presentation .product .info .title .pump {
    position: absolute;
    right: -41px;
    top: -14px;
}

.main .presentation .product .info .title .underline {
    position: absolute;
    left: 57px;
    bottom: -34px;
}

.main .presentation .product .info .text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.main .presentation .image .photo {
    max-width: 444px;
    width: 100%;
    max-height: auto;
}

.main .presentation .image.background {
    display: none;
}

.main .presentation .actions {
    display: flex;
    gap: 24px;
}

.main .presentation .actions .input-form {
    max-width: 317px;
    width: 100%;
}

.main .presentation .actions .input {
    border: none;
    color: rgba(118, 117, 123, 1);
    border-radius: 18px;
    outline: none;
    padding: 18px 14px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.main .presentation .actions .button {
    background-color: rgba(245, 250, 147, 1);
    color: black;
    padding: 0 14px;
    max-width: 222px;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main .features {
    display: flex;
    gap: 24px;
}

.main .features .card {
    width: 100%;
    border: 1px solid rgba(245, 250, 147, 1);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
}

.main .features .card .image {
    max-width: 80px;
    width: 100%;
}

.main .features .card .image.two {
    align-self: center;
}

.main .features .card .image.three {
    align-self: flex-end;
}

.main .features .card .info {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main .features .card .info .title {
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
}

.main .features .card .info .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.main .screens {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main .screens .screen-image {
    max-width: 1000px;
    width: 100%;
}

.main .screens .info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 32px;
    color: white;
}

.main .screens .info .text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.main .screens .info .button {
    align-self: flex-end;
    background-color: rgba(20, 14, 23, 1);
    border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 18px;
    padding: 18px 14px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.main .price .title-tatiff {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 26px;
    text-transform: lowercase;
    color: rgba(245, 250, 147, 1);
    padding: 0 0 32px 24px;
}

.main .price .list-trafic {
    display: flex;
    gap: 32px;
}

.main .price .list-trafic .item {
    max-width: 484px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    background-color: rgba(245, 250, 147, 1);
    border-radius: 32px;
    position: relative;
    color: rgba(0, 0, 0, 1);
}

.main .price .list-trafic .item .info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main .price .list-trafic .item .best-choice {
    position: absolute;
    right: 32px;
    top: -25px;
    background-color: black;
    color: white;
    border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 18px;
    padding: 16px 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.main .price .list-trafic .item.basic .info {
    padding-bottom: 32px;
}


.main .price .list-trafic .item .info .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}

.main .price .list-trafic .item .info .trafic {
    display: flex;
}

.main .price .list-trafic .item .info .trafic .cost {
    font-weight: 800;
    font-size: 68px;
    line-height: 110%;
}

.main .price .list-trafic .item .info .trafic .month {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    padding-top: 38px;
}

.main .price .list-trafic .item .info .text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.main .price .list-trafic .item .info .benefits {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main .price .list-trafic .item .info .benefits .benefit {
    display: flex;
    gap: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

.main .price .list-trafic .item .info .benefits .benefit::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../icons/check_mark.svg");
}

.main .price .list-trafic .item .button {
    background-color: black;
    max-width: 200px;
    color: white;
    border: 1px solid rgba(51, 51, 51, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    cursor: pointer;
}

.main .faq .title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: rgba(245, 250, 147, 1);
    padding: 0 0 32px 24px;
}

.main .faq .items {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.main .faq .items .item {
    padding: 24px;
    border: 1px solid rgba(51, 51, 51, 1);
    border-radius: 32px;
    display: flex;
    flex-direction: column;

}

.main .faq .items .item .item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    align-items: normal;
}

.main .faq .items .item .item-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #76757B;
    cursor: pointer;
    padding-top: 32px;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

details>summary {
    list-style: none;
}


summary::after {
    content: url("../icons/plus.svg");
    max-width: 100%;
    width: 24px;

}

details[open] summary::after {
    content: url("../icons/minus.svg");
    max-width: 100%;
    width: 24px;
}


@media (max-width: 960px) {
    .main .features {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main .presentation .product .info .title {
        white-space: wrap;
    }

    .main .presentation .product .image {
        display: none;
    }

    .main .presentation .product .image.background {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 20%;
        z-index: -1;
    }

    .main .features {
        flex-direction: column;
    }

    .main .features .card {
        max-width: 1000px;
        width: 100%;
    }
}

@media (max-width: 690px) {
    .main .price .title-tatiff {
        flex-direction: column;
        align-items: center;
    }

    .main .price .title-tatiff .item.basic .info {
        padding-bottom: 0;
    }
}

@media (max-width: 375px) {
    .main .presentation .product .info .title {
        font-weight: 700;
        font-size: 42px;
        line-height: 54px;
    }

    .main .presentation .product .info .title .pump {
        max-width: 34px;
        width: 100%;
        right: 36px;
        top: 0;
    }

    .main .presentation .product .info .title .underline {
        max-width: 100px;
        width: 100%;
        left: 0;
        bottom: -9px;
    }

    .main .presentation .actions {
        gap: 16px;
        flex-wrap: wrap;
    }

    .main .presentation .actions .button {
        padding: 18px 14px;
    }

    .main .price .list-trafic {
        display: flex;
        flex-direction: column;
    }
}